@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
@import "tailwind";

* {
  margin: 0;
  padding: 0;

  html, body {
    font-weight: theme('fontWeight.medium');
  }
}

